@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

div {
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
}

/* PSEUDO-CLASSE HOVER - Muda a formatação ao passar o mouse */
div:hover {
    background-color: #00df7b;
    color: #fff;
}

/* Chamando um seletor de classe no CSS */
.box-red {
    background-color: red;
}

/* Chamando um seletor de ID no CSS */
#box-special {
    background-color: #2d6ce1;
    color: #fff;
    width: 200px;
    text-align: center;
}

/* Seletor adjacente - mexe apenas no P que está depois do ID #box-special */
#box-special + p {
    background-color: brown;
}

.box-black {
    background-color: #000;
    color: #fff;
}

/* Seletor irmão - muda todos as tags <p> DEPOIS do box-black */
.box-black ~ p {
    background-color: #2d6ce1;
}

/* Seletor de filhos diretos - muda os elementos filhos do elemento pai */
.box-red > p {
    background-color: #00df7b;
    padding: 5px;
    margin: 10px;
}

.box-brown {
    background-color: brown;
}

.box-brown:first-child {
    background-color: #2d6ce1;
}

.box-brown:last-child {
    background-color: #2f200c;
    color: #fff;
}